<div id="UserProfile" class="container">
  <div class="row">
    <div class="col-4">
      <img class="rounded" style="width: 100%; height: 200px;" src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_16x9_992.jpg" />
      <div *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName" class="col-12">
        <button #collapseBio type="button" class="btn btn-outline-warning mb-2 mt-3" style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample"><i class="far fa-edit"></i><span class="font-weight-bold ml-2">Edit</span></button>
      </div>
      <div class="row text-center">
        <div class="col-6">
          <button *ngIf="(loggedUser !== currentUser.userName) || userSearched !== currentUser.userName" (click)="sendFriendRequest()" class="btn btn-outline-warning mb-2 mt-3"><i class="far fa-user"></i><span class="ml-2 font-weight-bold" style="color: white;">Follow</span></button>
        </div>
      </div>
      <div *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName" class="collapse" id="collapse">
        <div class="card card-body">
          <button type="button" class="btn btn-outline-info mb-2">Change Profile Picture</button>
          <textarea class="form-control rounded" rows="3" [(ngModel)]="currentUser.bio"></textarea>
          <button type="button" (click)="updateBio()" class="btn btn-outline-success mt-2">Save</button>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <div>
            <div class="card-title"><strong>Bio</strong></div>
            <p *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName">{{currentUser.bio}}</p>
            <p *ngIf="userSearched !== loggedUser">{{userProfile.bio}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="friends" class="card mt-2">
        <div class="card-title ml-2 mt-2 pb-1">
          <i class="fas fa-users"></i>
          <strong class="ml-2">Friends</strong>
        </div>
        <div class="row mb-2">
          <div *ngFor="let friend of friends" class="col-4">
            <div routerLink="/dashboard/profile/{{friend.user.userName}}" style="cursor:pointer;">
              <div class="pl-2 pt-2">
                <i class="fas fa-user"></i>
                <span class="ml-1">{{friend.user.userName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName" class="card mb-1">
        <div class="card-header">
          <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="NewPost">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text rounded-circle mr-2" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control input-lg" type="text" name="content" [(ngModel)]="newPost.content" />
                <div class="input-group-append">
                  <button class="input-group-text"><i class="fas fa-share"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="userPosts">
        <div *ngFor="let posts of userPosts" class="card card-shadow-sm mb-2">
          <div class="card-body">
            <div *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName" class="float-right">
              <span (click)="deletePost(posts.postId)"><i class="fas fa-times-circle"></i></span>
            </div>
            <div *ngIf="(posts.rePostUser !== null)" class="breadcrumb mr-5">
              <strong style="cursor: pointer;" routerLink="/dashboard/profile/{{posts.rePostUser}}"><i>Reposted from: </i>{{posts.rePostUser}}</strong>
            </div>
            <span><i class="mr-2 fas fa-user"></i></span>
            <strong *ngIf="(loggedUser == currentUser.userName) && userSearched == currentUser.userName">{{currentUser.userName}}</strong>
            <strong *ngIf="userSearched !== loggedUser">{{userProfile.userName}}</strong>
            <span class="ml-2" (click)="rePost(posts.postId, currentUser.id, userProfile.userName)" style="cursor: pointer;" *ngIf="userSearched !== loggedUser"><i class="fas fa-retweet"></i></span>
            <div class="mb-3">
              {{posts.content}}
            </div>
            <div class="nav navbar">
              <h5 (click)="posts.showMe = !posts.showMe"><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-comment mr-2"></i>{{posts.comments.length}}</span></h5>
              <h5 (click)="likePost(posts.postId)"><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-thumbs-up mr-2"></i>{{posts.likes}}</span></h5>
            </div>
            <div class="card-footer text-muted">
              <span *ngIf="posts.comments.length > 0 && posts.showMe" style="width: 100%; float:left;"> Comments </span>
              <div *ngIf="posts.comments.length > 0 && posts.showMe">
                <ul *ngFor="let comments of posts.comments" style="list-style:none; float:left; width: 100%; color:gray;">
                  <li style="padding:10px;">
                    <div routerLink="/dashboard/profile/{{comments.userName}}" style="cursor: pointer;">{{comments.userName}}</div>
                    <span>{{comments.content}}</span>
                  </li>
                </ul>
              </div>
              <div class="input-group mb-3">
                <input [(ngModel)]="newComment.content" class="form-control input-lg" type="text" name="comment" />
                <div class="input-group-append">
                  <button (click)="onSubmitComment(posts.postId)" class="input-group-text"><i class="far fa-comment-dots"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!userPosts">
        <div class="card">
          <h5 class="card-header text-center">No User Posts</h5>
        </div>
      </div>
    </div>
  </div>
</div>
