<div id="UserProfile" class="container">
  <div class="row">
    <div class="col-3">
      <img class="rounded" style="width: 100%; height: 200px;" src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_16x9_992.jpg" />
      <div *ngIf="loggedUser == currentUser.id" class="col-6 justify-content-center">
        <i #collapseBio class="far fa-edit justify-content-center" style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample"></i>
      </div>
      <div class="collapse" id="collapse">
        <div class="card card-body">
          <button type="button" class="btn btn-outline-info mb-2">Change Profile Picture</button>
          <textarea class="form-control rounded" rows="3" [(ngModel)]="currentUser.bio"></textarea>
          <button type="button" (click)="updateBio()" class="btn btn-outline-success mt-2">Save</button>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <div>
            <div class="card-title"><strong>Bio</strong></div>
            <p>{{currentUser.bio}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div *ngIf="loggedUser == currentUser.id" class="card mb-1">
        <div class="card-header">
          <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="NewPost">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text rounded-circle mr-2" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control input-lg" type="text" name="content" [(ngModel)]="newPost.content" />
                <div class="input-group-append">
                  <button class="input-group-text"><i class="fas fa-share"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngFor="let posts of userPosts" class="card card-shadow-sm mb-2">
        <div class="card-body">
          <span><i class="mr-2 fas fa-user"></i></span>
          <strong>{{currentUser.userName}}</strong>
          <div *ngIf="loggedUser == currentUser.id" class="float-right">
            <span (click)="deletePost(posts.postId)"><i class="fas fa-times-circle"></i></span>
          </div>
          <div class="mb-3">
            {{posts.content}}
          </div>
          <div class="nav navbar">
            <h5><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-comment mr-2"></i>{{posts.comments.length}}</span></h5>
            <h5><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-thumbs-up mr-2"></i>{{posts.likes}}</span></h5>
          </div>
          <div class="card-footer text-muted">
            <span style="width: 100%; float:left;"> Comments </span>
            <ul *ngFor="let comments of posts.comments" style="list-style:none; float:left; width: 100%; color:gray;">
              <li style="padding:10px;">
                <span>{{comments.content}}</span>
              </li>
            </ul>
            <div class="input-group mb-3">
              <input class="form-control input-lg" type="text" name="comment" />
              <div class="input-group-append">
                <button class="input-group-text"><i class="far fa-comment-dots"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
