<div *ngIf="feed" id="UserProfile" class="container">
  <div *ngFor="let posts of feed" class="card card-shadow-sm mb-2">
    <div class="card-body">
      <span><i class="mr-2 fas fa-user"></i></span>
      <strong>{{posts.user.userName}}</strong>
      <div class="mb-3">
        {{posts.content}}
      </div>
      <div class="nav navbar">
        <h5><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-comment mr-2"></i>{{posts.comments.length}}</span></h5>
        <h5 (click)="likePost(posts.postId)"><span style="cursor: pointer;" class="badge badge-light"><i class="far fa-thumbs-up mr-2"></i>{{posts.likes}}</span></h5>
      </div>
      <div *ngIf="posts.comments.length !== 0" class="card-footer text-muted">
        <span style="width: 100%; float:left;"> Comments </span>
        <ul *ngFor="let comments of posts.comments" class="mt-4" style="list-style:none;">
          <li style="padding:10px;">
            <div>{{comments.userName}}</div>
            <span>{{comments.content}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
