<nav class="navbar navbar-dark bg-dark form-inline">
  <a class="navbar-brand text-white">Movie App</a>
  <div class="ng-autocomplete">
    <ng-autocomplete [data]="users"
                     [searchKeyword]="keyword"
                     placeHolder="Search User.."
                     (selected)='selectEvent($event)'
                     (inputFocused)='onFocused($event)'
                     [itemTemplate]="itemTemplate"
                     [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.userName"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
  <!--<div class="input-group">
    <input class="form-control input-lg search-bar" type="text" name="user" [(ngModel)]="searchedUser" />
    <div class="input-group-append">
      <button (click)="userSearch()" class="input-group-text"><i class="fas fa-search"></i></button>
    </div>
  </div>-->
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<div class="row">
  <div class="col-12 px-0">
      <div id="library-nav" class="sub-nav">
        <ul class="nav nav-tabs nav-justified">
          <li routerLink="/dashboard/feed" class="nav-item">
            <a class="nav-link nav-secondary" [ngClass]="{'active': activeCategory == 'Feed'}">
              <div class="nav-icon float-left">
                <div class="nav-icon-bg d-block"><i class="fas fa-book-open"></i></div>
              </div>
              <div class="nav-title pl-1 text-right">
                <span>Feed</span>
              </div>

            </a>
          </li>
          <li class="nav-item" routerLink="/dashboard/profile/{{currentUser.userName}}" routerLinkActive='active'>
            <a class="nav-link nav-primary pl-4" [ngClass]="{'active': activeCategory == 'Profile'}">
              <div class="nav-icon float-left">
                <div class="nav-icon-bg d-block"><i class="fas fa-user"></i></div>
              </div>
              <div class="nav-title pl-1 text-right">
                <span>My Profile</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-green" routerLink="/dashboard/movies">
              <div class="nav-icon float-left">
                <div class="nav-icon-bg d-block"><i class="fas fa-film"></i></div>
              </div>
              <div class="nav-title pl-1 text-right">
                <span>Movies</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-orange">
              <div class="nav-icon float-left">
                <div class="nav-icon-bg d-block"><i class="fas fa-tv"></i></div>
              </div>
              <div class="nav-title pl-1 text-right">
                <span>Tv Shows</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-purple">
              <div class="nav-icon float-left">
                <div class="nav-icon-bg d-block"><i class="fas fa-image"></i></div>
              </div>
              <div class="nav-title pl-1 text-right">
                <span>Memes</span>
              </div>
            </a>
          </li>
<!-- <li class="nav-item">
      <a href="#" class="nav-link nav-info">
          <div class="nav-icon float-left">
              <div class="nav-icon-bg d-block"></div>
          </div>
          <div class="nav-title pl-1 text-right">
              <span>This is a very long title</span>
          </div>
      </a>
  </li> -->
        </ul>
      </div>
  </div>
</div>

<router-outlet></router-outlet>

